.backy {
    color: #fff !important;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
}
.icon-img{
    justify-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}
.new {
    width: 20px;
    height: 20px;
}
.reset{
    color: black;
}